@import url('https://fonts.googleapis.com/css?family=Lalezar');
@import url('https://fonts.googleapis.com/css?family=Anaheim');

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: 'Anaheim', sans-serif;
  font-size: 15px;
  color: #b9b9b9;
}
h3 {
  color: #002035;
}
h2{
  color: #002035;
  text-align: center;.
  font-family: 'Lalezar', cursive;
}
input,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #5D4037;
  border-radius: 0px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: 'Anaheim', sans-serif;
}
input:focus {
  outline: 0;
  border-color: #ECEFF1;
}
input:focus + .input-icon i {
  color: #002035;
}
input:focus + .input-icon:after {
  border-right-color: #5D4037;
}
select {
  height: 3.4em;
  line-height: 2;
  font-family: 'Anaheim', sans-serif;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #002035;
  color: white;
}
.input-group {
  margin-bottom: 1em;
  zoom: 1;
  font-family: 'Anaheim', sans-serif;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}

.container {
  max-width: 50%;
  width: 90%;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
      position: absolute;
      top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.row {
  zoom: 1;
  font-family: 'Anaheim', sans-serif;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.buttonsubmit {
    background: #5D4037;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: auto;
    cursor: pointer;
	font-family: 'Anaheim', sans-serif;
}

.buttonsubmit:hover {
	background: #ECEFF1;
    color: #5D4037;
	transition: 0.5s;
}

@media only screen and (max-width: 540px) {
  
  .container {
  max-width: 30em;
  padding: 1em 3em 2em 3em;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0px;
   position: relative;
      top: 0%;
    left: 0%;
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

body {
  font-size: 13px;
}

.row {
  zoom: 1;
  font-family: 'Anaheim', sans-serif;
}


.buttonsubmit {
    border-radius: 0px;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
	float: none;
}

}
